body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  position: relative;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* HERO */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.hero {
  padding: 100px 30px;
}

.hero .hero_text {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.hero .hero_text h1 {
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 800;
  width: fit-content;
  font-size: 4rem;
  color: rgb(32, 35, 41);
  line-height: 1;
}

.hero .hero_text h2 {
  margin: -8px auto 0 auto;
  background-color: rgb(32, 35, 41);
  width: -moz-fit-content;
  width: 100%;
  color: rgb(255, 152, 0);
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.2rem;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* CONTENT DIV */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.content {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.main_content .main_content_characters {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* SIDEBAR CONTAINER */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.main_sidebar {
  min-width: 330px;
  margin: 10px 15px 0 15px;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* SECTION STYLES */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.section_content {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.section_container {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  padding: 20px;
}

.section_container_title {
  margin-bottom: 10px;
}

.section_title {
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* FILTER INPUT */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.filter_input {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  box-shadow: none;
  height: 18px;
  padding: 7px 13px;
  width: 70%;
}

.filter_input:focus {
  outline: none;
  box-shadow: 0 0 3px #8a8a8a;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* FILTER SELECT */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.filter_select {
  display: block;
  color: #444;
  line-height: 1.9;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 80%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.filter_select::-ms-expand {
	display: none;
}
.filter_select:hover {
	border-color: #888;
}
.filter_select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.filter_select option {
	font-weight:normal;
}

@media screen and (max-width: 900px) {
  .content {
    flex-direction: column-reverse;
  }

  .main_sidebar {
    width: 100%;
    margin: 0 auto 30px;
  }

  .character_card {
    margin: 15px 0;
    width: 100%;
  }
}
